* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Varela", sans-serif;
  background: #f7f7f7;
}

a {
  text-decoration: none;
  cursor: pointer;
}

p {
  line-height: 2rem;
}

.add-box-shadow {
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.add-border-radius {
  border-radius: 20px;
}

.text-bold {
  font-weight: bold;
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

ul {
  list-style: none;
}

.c-sharp {
  background: purple;
  color: white;
}

.dotnet {
  background: purple;
  color: white;
  border-radius: 50%;
  padding: 0.3rem;
}

#nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #333;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

#nav .website-title {
  color: #fc7703;
}

#nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#nav ul li a {
  text-transform: uppercase;
  color: #ffffff;
  padding: 0.75rem;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

#nav ul li a:hover {
  color: #fc7703;
}

#showcase {
  height: 100vh;
  background: url("../img//background6.jpg") no-repeat center center/cover;
  position: relative;
}

#showcase .showcase-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding-top: 5%;
}

#showcase h1,
#showcase h3,
#showcase a {
  color: #ffffff;
  z-index: 1;
}

#showcase a {
  margin-top: 25%;
  font-size: 5rem;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

#showcase a:hover {
  color: #fc7703;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #333;
  opacity: 0.5;
}

#about {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#about h1 {
  font-size: 2.5rem;
}

#about .about-content {
  margin: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about .about-content img {
  height: 250px;
  margin: 1rem;
  border-radius: 50%;
}

#about .about-content p {
  margin: 1rem;
}

#about .about-skills {
  text-align: center;
}

#about .about-skills-title {
  padding: 1rem 0;
}

#about .about-skills-icons {
  font-size: 5rem;
}

#projects h1 {
  font-size: 2.5rem;
  margin: 2rem 0;
}

#projects .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 2rem;
}

#projects .project-title {
  margin: 1rem;
  font-size: 1.5rem;
}

#projects .project-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem;
  font-size: 1.2rem;
}

#projects .project-content-details {
  margin: 1rem;
}

#projects .project-content-image {
  border-radius: 5px;
  height: 250px;
}

#projects .project-buttons {
  margin: 3rem 0;
}

#projects .project-buttons-btn {
  padding: 0.5rem 1rem;
  border: 1px solid #333;
  color: #333;
  text-transform: uppercase;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  margin-right: 2rem;
}

#projects .project-buttons-btn:hover {
  color: #ffffff;
  background: #fc7703;
  border: #fc7703;
}

#footer {
  margin-top: 5rem;
  padding-top: 1.5rem;
  text-align: center;
  background: #333;
  color: #ffffff;
}

#footer .footer-links {
  padding: 1rem 0;
  font-size: 3rem;
}

#footer .footer-links a {
  color: #ffffff;
  margin: 0 1rem;
}

@media (max-width: 500px) {
  .iconify {
    width: 50px;
    height: 50px;
  }
  #nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #nav ul li {
    margin-top: 0.5rem;
  }
  #showcase .showcase-content {
    padding-top: 5rem;
  }
  #projects .project-content-image {
    margin-top: 1rem;
    height: 150px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  #projects .project-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #projects .project-buttons-btn {
    text-align: center;
    font-size: 0.8rem;
    padding: 0.5rem 3rem;
    margin: 0.5rem;
  }
  #footer .footer-content h3 {
    font-size: 0.8rem;
  }
}

@media (max-width: 800px) {
  #showcase .showcase-content {
    padding-top: 8rem;
  }
  #about .about-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #projects .project-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #projects .project-content-image {
    margin-top: 1rem;
  }
}

@media (max-height: 580px) {
  #showcase .showcase-content {
    padding-top: 3.5rem;
  }
  #projects .project-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 1rem;
  }
  #projects .project-content-image {
    margin-top: 1rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 95%;
    height: auto;
  }
}
/*# sourceMappingURL=style.css.map */