@import 'config';

#about {
  padding: 5rem 0;
  background: $secondary-color;
}

.about__content {
  margin-top: 5rem;
  // padding: 0 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.about__content__text {
  padding-left: 10rem;
}

.about__content__title {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: $main-color;
}
.about__content__image {
  border-radius: 25%;
  height: 250px;
}
.about__content__links {
  margin-top: 0.5rem;
}
.about__content__link {
  color: $main-color;
  font-size: 2rem;
  margin-right: 1rem;
}

@media screen and (max-width: 480px) {
  #about {
    padding: 3rem 0;
  }
  .about__content {
    flex-direction: column;
  }
  .about__content__text {
    margin-top: 1rem;
    padding-left: 0;
  }
}

@media screen and (max-width: 768px) {
  .about__content {
    flex-direction: column;
  }
  .about__content__text {
    text-align: center;
    margin-top: 1rem;
    padding-left: 0;
  }
}
